body {
    margin: 0;
    background-color: black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



/*Container*/

.container {
    width: 100%;
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}


/*hero*/

.hero {
    background-image: url("../images/hero/Cyberpunk2077.bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;

}

.hero__inner {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100vh;

}

.hero__title {
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    padding-bottom: 15px;

}
.hero__subtitle {
    color: #76b900;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 60px;


}


/*content*/

.content {
    background-color: #000;
}

.content__text {
    font-size: 21px;
    color: #eee;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
    max-width: 620px;
    margin: 0 auto;

}

.content__logo {
    margin: 60px auto 60px 40%;


}



/*intro*/

.intro {
    position: relative;
    background-image: url("../images/intro/Cyberpunk2077.bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;
    z-index: 1;

}

.intro:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: -1;
}

.intro__inner {
    height: 100vh;

}

.intro__title {
    color: #fff;
    font-size: 26px;
    text-align: center;
    padding-top: 60px;

}

.intro__text {
    font-size: 16px;
    color: #eee;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
    max-width: 620px;
    margin: 0 auto;

}

.intro__trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.trailer {
    margin: 0 auto;
    width: 60%;
    max-width: 630px;

}

.intro__icon {
    margin: 0 auto;

}

/*about*/

.about {
    display: flex;
    justify-content: center;


    background-image: url("../images/about/Cyberpunk2077_Sunny_lazy_day_RGB-guide.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    width: 100%;
    height: 100vh;

    position: relative;
    z-index: 1;



}

.about:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: -1;
  }


.about__title {
    color: #fff;
    font-size: 36px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}


.about__subtitle {
    color: #76b900;
    font-size: 24px;
    text-align: center;
}

.about__text {
    padding-top: 30px;
    font-size: 16px;
    color: #eee;
    text-align: center;
    max-width: 620px;
    margin: 0 auto;


}


/*cards*/

.cards {
    background-color: #000;

}

.cards__assortiment {
    display: flex;
    justify-content: space-between;
    padding: 60px 60px;

}
.cards__title {
    color: #fff;
    font-size: 36px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

.cards__subtitle {
    color: #76b900;
    font-size: 24px;
    text-align: center;
    padding-bottom: 60px;
}

.cards__name {
    color: #fff;
    font-size: 12px;
    padding-top: 30px;

}

.cards__item {
    width: 25.33333%;

}


/* footer*/

.footer {
    padding: 60px;
    border-top: 1px solid #666666;
}

.footer__icons {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
    padding: 0 50px;
}

.footer__text {
    text-align: center;
    color: #666;
    font-size: 12px;
    max-width: 940px;
    margin: 0 auto;
}



@media (max-width: 770px ){
    /*cards*/
    .cards__assortiment {
        flex-wrap: wrap;
    }
    .cards__title {
        font-size: 17px;

    }

    .cards__item {
        width: 50%;


    }

    /*intro*/
    .intro__title {
        font-size: 17px;
    }

    .intro__text {
        font-size: 10px;
        text-align: center;

    }

    .intro__icon {
        display: none;
    }

    /*footer*/
    .footer__item {
        width: 50%;
        padding-bottom: 10px;

    }

    .footer__text {
        font-size: 16px;
    }

}


@media (max-width: 380px ){
        /*cards*/
        .cards__assortiment {
            flex-wrap: wrap;
        }

        .cards__title {
            font-size: 11px;

        }

        .cards__item {
            width: 100%;
            max-width: none;


        }

        /*intro*/
        .intro__title {
            font-size: 11px;
        }

        .intro__text {
            font-size: 10px;

        }


        /*footer*/
        .footer__icons {
            flex-wrap: wrap;
        }
        .footer__item {
            width: 100%;
            max-width: none;

        }

        .footer__text {
            font-size: 8px;
        }

    }

